body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 50;
    padding: 50;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.bank-card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
    transition: transform 0.3s ease-in-out;
}

.bank-card:hover {
    transform: translateY(-10px);
}

.bank-card img {
    width: 150px;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}

.bank-card:hover img {
    transform: scale(1.1);
}

.bank-card h2 {
    color: #333;
    transition: color 0.3s ease-in-out;
}

.akbank {
    border-top: 5px solid #e01b22;
}

.denizbank {
    border-top: 5px solid #004c91;
}

.enpara {
    border-top: 5px solid #f89c1c;
}

.garanti {
    border-top: 5px solid #050a08;
}

.papara {
    border-top: 5px solid #d3445f;
}

.ziraat {
    border-top: 5px solid #d30b11;
}

.Btn {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  margin: 10px auto; /* Ortalanmış ve üstten 20px, alttan 20px boşluk */
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.Btn::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
  margin: 0 auto; /* Ortalamayı korumak için */
}

.Btn:hover::before {
  transition-duration: .3s;
  transform: translate(100%,-50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px,5px);
  transition-duration: .3s;
}
